/*글꼴 적용하려면 필요*/
@font-face{
    font-family: "KoPubWorldDotumBold";
    src: url(../assets/font/KoPubWorld\ Dotum\ Bold.ttf);
}

@font-face{
    font-family: "KoPubWorldDotumMedium";
    src: url(../assets/font/KoPubWorld\ Dotum\ Medium.ttf);
}

@font-face{
    font-family: "KoPubWorldDotum";
    src: url(../assets/font/KoPubWorld\ Dotum\ Light.ttf);
}

a { text-decoration:none;
    color: rgba(21, 21, 21, 0.87);
    font-family: KoPubWorldDotum;
    font-weight: 500; }

li{
    /*border-bottom: solid 1px rgba(151, 151, 151, 0.35);*/
    margin-left: -20px;
    padding-top:5px;
}

a:visited{ text-decoration:none;
    color: rgba(21, 21, 21, 0.87);
    font-weight: 500; }

body{
    width:1550px;
    height:5000px;
    background-color:#f8f8f8;
}
.top{
    width: 1550px;
    height: 82px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position:absolute;
    top:0px;
    left:0px;
    box-shadow: none;
}
.harmony{
    width: 80px;
    height: 35px;
    background-color: #ffffff;
    position:absolute;
    top:28px;
    left:125px;
    border:0;
    overflow:hidden;
}
.harmony_logo{
    width:100%;
    height:100%;
    object-fit:cover;
}
.find{
    width: 622px;
    height: 44px;
    border-radius: 40px;
    border: solid 1px #e0e0e0;
    position:absolute;
    top:19px;
    left:215px;
}
.findbtn{
    width: 35px;
    height: 35px;
    position:absolute;
    top:27px;
    left:793px;
    background-color:#ffffff;
    border:0;
}
.findbtnimg{
    width: 30px;
    height:30px;
}
#btn{
    width: 80px;
    height: 27px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 500;
    color:#c6c6c6;
    background-color:#ffffff;
    border:0;
    outline:0;
}
.write_post{
    position:absolute;
    top:30px;
    left:883px;
}
.mypage{
    position:absolute;
    top:30px;
    left:976px;
}
.bookmark{
    position:absolute;
    top:30px;
    left:1055px;
}
.alarm{
    width: 25px;
    height: 30px;
    position:absolute;
    top:28px;
    left:1135px;
    border:0;
    outline:0;
    overflow:hidden;
    background-color:#ffffff;
}
.alarm_photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#prof_photo{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border: solid 0.9px #cacaca;
    background-color:#ffffff;
    overflow:hidden;
}
.photo1{
    position: absolute;
    top:21px;
    left:1179px;
}
.human{
    width:100%;
    height:100%;
    object-fit:cover;
}
.prof_name{
    width: 40px;
    height: 17px;
    font-family:KoPubWorldDotumBold;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: #bdbdbd;
    position:absolute;
    top:17px;
    left:1234px;
}
.profile{
    width:1550px;
    height:435.5px;
    position:absolute;
    top:82px;
    left:0px;
}
.background{
    background-color: #d8d8d8;
    width:1550px;
    height:260px;
    position: absolute;
    top:0px;
    left:0px;
}
.photo{
    width: 106px;
    height: 106px;
    border: solid 3px #ffffff;
    border-radius:53px;
    background-color:#ffffff;
    position:absolute;
    top:208px;
    left:661px;
}
.name{
    width: 65px;
    height: 32px;
    font-family: KoPubWorldDotum;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1.31px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:342px;
    left:688px;
}
.follow{
    position:absolute;
    top:349px;
    left:752px;
}
.introduction{
    width: 253px;
    height: 22px;
    opacity: 0.79;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.88px;
    color: rgba(21, 21, 21, 0.87);
    
    /*position:absolute;
    top:380px;
    left:50%;
    margin-left:-125px;*/

    margin-left:0px; 
    top:300px;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 340%);
}
.line1{
    width: 1154px;
    height: 2px;
    opacity: 0.73;
    background-color:rgba(151, 151, 151, 0.86);
    border:0;
    position:absolute;
    top:435.5px;
    left:144px;
}
.project{
    width:720px;
    height:3000px;
    position:absolute;
    top:517.5px;
    left:0px;
}
.title_proj{
    width: 75px;
    height: 31px;
    font-family: KoPubWorldDotumBold;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:33.5px;
    left:144px;
}
.photo_proj{
    width: 517px;
    height: 517px;
    border-radius: 12px;
    background-color: #000000;
    position: absolute;
    top:83.5px;
    left:144px;
}
.ability{
    width:720px;
    height:3000px;
    position:absolute;
    top:517.5px;
    left:720px;
}
.introduction_detail{
    width:720px;
    height:159.8px;
    position: absolute;
    top:0px;
    left:0px;
}
.title_id{
    width: 38px;
    height: 31px;
    font-family: KoPubWorldDotumBold;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:33.5px;
    left:10px;
}
.content_id{
    width: 500px;
    height: 72px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.88px;
    text-align: justify;
    color: rgba(30, 32, 34, 0.51);
    position:absolute;
    top:79.5px;
    left:10px;
}
#line{
    width: 567px;
    height: 1.5px;
    opacity: 0.38;
    background-color:#979797;
    border:0;
}
.line2{
    position:absolute;
    height: 2px;
    top:159.8px;
    left:10px;
    margin-top: 20px;
    opacity: 0.73;
    background-color:rgba(151, 151, 151, 0.86);
    border:0;
}
.education{
    width:720px;
    height:234.9px;
    position:absolute;
    top:159.8px;
    left:0px;
}
.title_edu{
    width: 38px;
    height: 31px;
    font-family: KoPubWorldDotumBold;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:13.8px;
    left:10px;
}
.photo_edu{
    width: 58px;
    height: 58px;
    border-radius:29px;
    opacity:0.4;
    border: solid 0.9px #979797;
    background-color: #d8d8d8;
    position:absolute;
    top:63.8px;
    left:10px;
    overflow: hidden;
}
._photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name_edu{
    width: 110px;
    height: 25px;
    opacity: 0.53;
    font-family: KoPubWorldDotumBold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    position:absolute;
    top:63.8px;
    left:93px;
}
.long_intro{
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.81px;
    color: #000000;
}
.content_edu{
    width: 120px;
    height: 20px;
    opacity: 0.35;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.81px;
    color: #000000;
    position:absolute;
    top:89.8px;
    left:93px;
}
.period_edu{
    width: 120px;
    height: 20px;
    opacity: 0.35;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.81px;
    color: #000000;
    position:absolute;
    top:112.8px;
    left:93px;
}
.line3{
    position:absolute;
    height:2px;
    top:155.9px;
    left:10px;
    opacity: 0.73;
    background-color:rgba(151, 151, 151, 0.86);
    border:0;
}
.desired_job{
    width:720px;
    height:250px;
    position:absolute;
    top:330.6px;
    left:0px;
}
.title_dj{
    width: 75px;
    height: 31px;
    font-family: KoPubWorldDotumBold;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.25px;
    color: rgba(21, 21, 21, 0.87);
    position:absolute;
    top:18.9px;
    left:10px;
}
#dj{
    width: 40px;
    height: 20px;
    opacity: 0.53;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.88px;
    color: #000000;
}
.first_dj{
    position:absolute;
    top:66.9px;
    left:10px;
}
.second_dj{
    position:absolute;
    top:94.9px;
    left:10px;
}
.third_dj{
    position:absolute;
    top:122.9px;
    left:10px;
}
#job{
    width: 200px;
    height: 20px;
    opacity: 0.5;
    font-family: KoPubWorldDotum;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.88px;
    color: #000000;
}
.first_job{
    position:absolute;
    top:66.9px;
    left:66px;
}
.second_job{
    position:absolute;
    top:94.9px;
    left:66px;
}
.third_job{
    position:absolute;
    top:122.9px;
    left:66px;
}


.alarm_page{
    width: 360px;
    height: 319px;
    border-radius: 3px;
    border: solid 0.5px rgba(151, 151, 151, 0.19);
    background-color: #ffffff;
    position: absolute;
    top:82px;
    left:795px;
    display:flex;
}

.add_proj{
    width: 60px;
    height: 30px;
    opacity: 0.55;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.94px;
    color: rgba(21, 21, 21, 0.87);
    margin-top:35px;
    margin-left:610px;
    border: hidden;
    background-color: transparent;
    outline: 0;
}

.save_prof{
    width: 60px;
    height: 30px;
    opacity: 0.55;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.94px;
    color: rgba(21, 21, 21, 0.87);
    border: hidden;
    background-color: transparent;
    outline: 0;
}

.edit_detail_prof{
    width: 60px;
    height: 30px;
    opacity: 0.55;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.94px;
    color: rgba(21, 21, 21, 0.87);
    margin-top:30px;
    margin-left:530px;
    border: hidden;
    background-color: transparent;
    outline: 0;
}

#pe_center {
    width: 100%;
    height: 172.5px;
    position: static;
}

#pe_name{
    width: 67px;
    height: 32px;
    font-family: KoPubWorldDotum;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.31px;
    color: rgba(21, 21, 21, 0.87);
    margin-top: 28px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.pe_edit_pen{
    width: 15px;
    height: 19px;
    background: url('../assets/image/edit_pen.PNG') 100% no-repeat;
    background-size: 15px 19px;
    border: none;
}

.pe_output_text{
    margin-left: 15px;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.88px;
    text-align: justify;
    color: rgba(30, 32, 34, 0.51);
}

#pe_slogan{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
}

#pe_slogan_input{
    width: 290px;
    height: 18px;
    border-radius: 4px;
    resize: none;
    border: solid 0.7px rgba(151, 151, 151, 0.28);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 340%);
}

.pe_button_small{
    width: 47px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    font-family: KoPubWorldDotumMedium;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.88px;
    color: rgba(21, 21, 21, 0.87);
}

#dropdownMenu{
    background-color: white;
    width: 110px;
    height: 120px;
    margin-top: 15px;
    margin-left: -85px;
    list-style-type: none;
    text-decoration: none !important;
    display: none;
    position: absolute;
    z-index: 1;
}

#thumbnailProfile{
    width: 112px;
    height: 112px;
    border: 0px;
    border-radius:70%;
    position:absolute;
    /*top:208px;
    left:661px;*/
    top:60px;
    left:100px;
}


/*Text Style*/
.title{
    font-family: KoPubWorldDotum;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1.19px;
    color: rgba(21, 21, 21, 0.87);
    text-align: center;
    margin-top: 39px;
}

.subTitle{
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1.06px;
    color: rgba(21, 21, 21, 0.87);
    font-family: KoPubWorldDotum;

}

.explanationText{
    font-family: KoPubWorldDotum;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.92;
    letter-spacing: 0.75px;
    color: #b1b1b1;
    padding-top: 15px;
    margin-left: 59px;
}

.questionText{
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.88px;
    color: rgba(30, 32, 34, 0.69);
    margin-top: 27px;
    float: left;

}

textarea::placeholder {
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #bdbdbd;
  }

/*Line Style*/
.line{
    color: #979797;
    opacity: 0.56;
}

/*Box Style*/
div.picture{
    width: 359px;
    height: 301px;
    border-radius: 4px;
    border: solid 0.7px #d1d1d1;
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
    overflow: hidden;
}

div.question{
    width: 359px;
    height: 79px;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-top: 50px;
}

textarea:focus {outline:none;}
.editBox{
    width: 359px; /*height 따로 설정*/
    border-radius: 4px;
    border: solid 0.7px rgba(151, 151, 151, 0.28);
    background-color: #ffffff;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    vertical-align: top;
    resize: none;
}

.answer{
    width: 322px;
    border: 0px;
    border-bottom: solid 1px rgba(151, 151, 151, 0.35);
    resize: none;
}

/*Button Style*/
input:focus {outline:none;}
input.pictureButton{
    width: 64px;
    height: 62px;
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate( -50%, -50% );

}

input.closeButton{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 34px;
    right: 34px;
}

input.smallButton{
    width: 8px;
    height: 8px;
    float: right;
    top: 0;
    margin-top: 35px;
    right: 44px;
}

input.plusButton{
    width: 8px;
    height: 8px;
    margin-top: 27px;
}

input.addButton{
    border: 0;
    opacity: 0.7;
    font-family: KoPubWorldDotum;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.88px;
    color: rgba(30, 32, 34, 0.51);
    background-color: #ffffff;
}

input.button{ /*background color 따로 지정*/
    width: 74px;
    height: 39px;
    border-radius: 4px;
    font-family: KoPubWorldDotum;
    color: rgba(21, 21, 21, 0.87);
    border: 0;
    margin-top: 40px;
    margin-right: 25px;
}

/*image Style*/
.picture img{
    background: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Select Style*/
select::-ms-expand{
    display:none;
}

.selectbox{
    position: relative;
    width: 130px;
    border-radius: 5px;
    border: solid 1px #d9d9d9;
    z-index: 1;
    padding: .11px .10px;
    font-family: KoPubWorldDotum;
    font-size: 12px;
}

.selectbox:before {
    /* 화살표 대체 */
    content: "";
    position: absolute;
    top: 45%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    opacity: 0.37;
    border-top: 5px solid #000000;
  }

  .selectbox label {
      position: absolute;
      top: 1px; /* 위치정렬 */
      left: 7px; /* 위치정렬 */
      padding-top: 11px;
      padding-bottom: 10px; /* select의 여백 크기 만큼 */
      color: rgba(30, 32, 34, 0.51);
      z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
  }

  .selectbox select{
      width: 130px;
      padding-top: 11px;
      padding-bottom: 11px;
      font-family: KoPubWorldDotum;
      font-size: 12px;
      border: 0;
      /*opacity: 0; 숨기기 
      filter:alpha(opacity=0); /* IE8 숨기기 */
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }




/*modal Style*/

.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;

}

.modal {
	width: 900px;
  	height: 813px;
  	border-radius: 4px;
  	border: solid 0.7px #979797;
  	background-color: #ffffff;
}



.close-wrapper {
	text-align: center;
}
